
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
              <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Email</th>

            </tr>
            </thead>
            <tbody *ngIf="users != undefined">
            <tr *ngFor="let user of users">
              <td>
                <h5 class="font-medium mb-0">{{user.id}}</h5>
              </td>
              <td>
                <span class="text-muted">{{user.name}}</span><br>
              </td>
              <td>
                <span class="text-muted">{{user.email}}</span><br>
              </td>
              <button (click)="deleteUser(user.id)" class="btn btn-outline-danger">Delete</button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
