<div class="form4 top">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="form-bg">
          <form class="form">
            <div class="form-group">
              <label class="sr-only">Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" required="" id="nameNine" placeholder="Your Name">
            </div>
            <div class="form-group">
              <label class="sr-only">Email</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email" delrequired="" id="emailNine" placeholder="Email Address">
            </div>
            <button type="button" class="btn text-center btn-blue" (click)="save()"> User hinzufügen</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
